.imagemcarousel{
  display: flex;
  flex-direction: row;
}

.alturaimgbranco{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.alturaimgrosa{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bebe1{
  background-image: url("../../Imagens/bebemamando-carousel-1.jpg");
  background-size: cover;
  background-position: center;
}

.bebe1 p{
  text-align: center;
  font-size: 2.5rem;
  color: white;
}

.linkcarouselbranco{
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.linkcarouselbranco:hover{
  color: #A57576;
}

.linkcarouselrosa{
  color: #A57576;
  font-weight: bold;
}

.linkcarouselrosa a{
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #A57576;
}

.linkcarouselrosa a:hover{
  color: #D8BBBC;
}

.bebe2{
  background-image: url("../../Imagens/bebemamando-carousel-2.jpg");
  background-size: cover;
  background-position: center;
}

.bebe2 p{
  padding-top: 65%;
  text-align: center;
  font-size: 2.5rem;
  color: white;
}

.marcalogoseio{
  background-image: url("../../Imagens/MARCA-ALENTE-1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.marcalogoseiotxt{
  line-height: 250%;
  padding-top: 70%;
  text-align: center;
  font-size: 2.5rem;
}

.maeamamentando{
  background-image: url("../../Imagens/maeamamentando-carousel.jpg");
  background-size: cover;
  background-position: center;
}

.bebesegurandodedo{
  background-image: url("../../Imagens/bebesegurandodedo.jpg");
  background-size: cover;
  background-position: center;
}

.marcalogoseio-title{
  margin-top: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.marcalogoseio-mari-renata {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: x-large;
}

.marcalogoseio-mari-renata img{
  border-radius: 50%;
  width: 15%;
}

#imgmari{
  margin-right: 10%;
}

#marispan{
  margin-right: 7vw;
}

#renata{
  margin: auto;
}

.imglogos{
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.imglogostitle{
  text-align: center;
  margin-top: 5%;
}

#seashells{
  width: 20%;
}

#marirenatacontainer{
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.displaymr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displaymr img{
  width: 12vw
}

/* MEDIA QUERY - CAROUSEL VERSÃO MOBILE*/

@media (max-width: 600px){
  .bebe1 p{
    font-size: 1.3rem;
  }

  .linkcarousel{
    font-size: 1rem;
  }
  
  .bebe2 p{
    font-size: 1.3rem;
  }
  
  .marcalogoseio p{
    font-size: 1.3rem;
  }
}
