
#dados{
  background-color: #E9E9E9;
  width: 80%;
  padding: 5%;
  margin: auto auto 5% auto;
  border-radius: 4%;
  box-shadow: 0px 2px 1px lightgrey;
  display: grid;
  grid-template-columns: auto auto;
  overflow-x: auto;
  text-align: center;
}

#titulo{
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

#graficos article{
  display: flex;
  flex-wrap: wrap;
  color: black;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 25px;
  align-items: center;
}

#filtro{
  width: 160%;
}