.rodape{
  margin-top: 0;
  padding-top: 15px;
  display: flex;
  background-color: #B88C8D;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-weight: bold;
}
.rodape div{
  display: flex;
  flex-direction: column;
}
.rodape div p{
  color: white;
}
#socialmedias{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}
#doacaolink{
  background-color: white;
  color: #B58281;
  border-radius: 8px;
  padding: 6px;
}
#doacaolink:hover{
  color: blue;
}

.link{
  color: white;
  text-decoration: none;
}

.fontebranco{
  color: white;
}

@media (max-width: 600px){
  .rodape{
    flex-direction: column;
    align-items: start;
  }
  .rodape div{
    margin-bottom: 10px;
    margin-left: 5px;
  }
}
