@media (max-width: 600px){
  #programas{
    display: block;
  }
  #programas article{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.artigoprograma{
  display: flex;
  margin-bottom: 3%;
}

#txtdiv{
  width: 85%;
  overflow: auto;
  color: #B58281;
}

#txtdiv div h1{
  margin-top: 2%;
}

#btnagendamento{
  display: flex;
  justify-content: flex-end;
}

#btnagendamento button{
  margin-right: 3%;
}
