/*
CSS GERAL DESTINADO A AJUSTES NA RESPONSIVIDADE 

PALETA DE CORES:
1- #C48485 (botão)
2- #B58281 (footer)
3- #F4EED8 (background amarelo esbranquiçado)
*/
.altura{
  min-height: 50vh;
}

.btntomrosaescuro{
  background-color: #A57576;
  color: white;
}

.backgroundamarelado{
  background-color: #F4EED8;
  color: #A57576;
}

.fontetomrosaescuro{
  background-color: white;
  color: #A57576;
}

.M05{
  color: #B88C8D;
}
